*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --border-color-hex: #a5adb0; 
}
body {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(https://images.unsplash.com/photo-1649293849269-6cb966992234?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
body::before {
    display: block;
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1649067249065-3cd952bf7bcb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.3;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
#index-container {
    position: relative;
    margin: 40px;
    width: calc(100% - 80px);
    height: calc(100vh - 80px);
    background-image: url(https://images.unsplash.com/photo-1649293849269-6cb966992234?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border: 1px solid var(--border-color-hex);
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
#index-sidebar { grid-area: 1 / 1 / 2 / 2; border-right: 1px solid var(--border-color-hex); backdrop-filter: blur(10px); }
#index-content { grid-area: 1 / 2 / 2 / 3; backdrop-filter: blur(3px); }
