.boys-wrapper {
    position: relative;
    padding: 0;
    height: 100%;
}

.main-slider div.boy-slide {
height: 100%;
}

.boys-wrapper .bx-controls {
    position: absolute;
    left: -35vw;
    top: 0;
    background: white;
    width: 34.9vw;
}
