#main-contain {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player {
  width: 360px;
  height: 360px;
  border-radius: 77% 100% 74% 100% / 100% 100% 72% 66%;
  background-size: cover;
  background-position: center;
  position: absolute;
}
#dae {
  background-image: url(https://img.nickpic.host/5fnlAz.png);
  z-index: 1;
  bottom: -10px;
  left: -25px;
}
#mae {
  background-image: url(https://img.nickpic.host/5fn57c.jpg);
  z-index: 3;
  top: -35px;
  right: -50px;
}
#sitename {
  position: relative;
  z-index: 4;
  font: 400 11rem var(--title-font);
  color: var(--lpink-hex);
  mix-blend-mode: exclusion;
  -webkit-mask-clip: text;
  user-select: none;
}
#tagline {
  position: relative;
  z-index: 4;
  font: 600 1rem var(--body-font);
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--white-hex);
  text-align: right;
  width: 100%;
  padding-right: 10%;
  margin-top: -4%;
  user-select: none;
}

#main-side {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#ms-mae-n { grid-area: 1 / 1 / 2 / 2; }
#ms-mae-i { grid-area: 2 / 1 / 3 / 2; }
#ms-dae-n { grid-area: 3 / 1 / 4 / 2; }
#ms-dae-i { grid-area: 4 / 1 / 5 / 2; }
